<section>
  <h2>Post something Techy!</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post">Your Post</label>
      <input id="post" name="post-url" />
    </div>
    <button type="submit" class="btn">submit</button>
  </form>

  {{#if posts.length}}
<section>
  <h2>Your Tech Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Tech</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
</section>

<script src="/javascript/add-post.js"></script>